body{
    background-color: #8bbad9;
}
#titleImg { 
    height: 200px;
}
h1{
    padding-top: 20px;
    font-family: "Borel", cursive;
    font-style: normal;
    color: #123180;
    text-shadow: 3px 3px 5px #7f8185;
}